html {
    height: 100%;
}

body {
    background: url('/media/humming-bird-broun.jpg') no-repeat top center fixed;
    background-size: cover;
    color: #212529;
    font-family: 'Montserrat Alternates', sans-serif;
    /* The following code was given by fran_alumna in Slack */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* The following two code was given by fran_alumna in Slack */
div.content {
    flex: 1 auto;
}

footer {
    flex-shrink:0;
}

.margin-t {
    margin-top: 100px;
}

.border-dark {
    border: 1px solid #212529;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    min-width: 220px;
}

/* -------------------------------- Media Queries */

@media (min-width: 1600px) {
    .margin-t {
        margin-top: 200px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 1024px) {
    .margin-t {
        margin-top: 300px;
    }
}
